<% include partials/header %>

<body id="body-id">

	<nav id="header" class="navbar navbar-expand-lg navbar-light bg-light py-0">
		<div class="container d-flex align-items-stretch">
		  <a class="navbar-brand d-flex align-items-center" href="/"><img src="img/small-logo.png"></a>
		  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
		    <span class="navbar-toggler-icon"></span>
		  </button>
		  <div class="collapse navbar-collapse" id="navbarText">
		    <ul class="navbar-nav ml-auto">
		      <li class="nav-item d-flex align-items-center justify-content-center py-3">
		        <a class="nav-link" href="/home">Home</a>
		      </li>
		      <li class="nav-item d-flex align-items-center justify-content-center py-4 active">
		        <a class="nav-link" href="/about">About<span class="sr-only">(current)</span></a>
		      </li>
		      <li class="nav-item d-flex align-items-center justify-content-center py-4">
		        <a class="nav-link" href="/portfolio-webdesign">Portfolio</a>
		      </li>
		      <li class="nav-item d-flex align-items-center justify-content-center py-4">
		        <a class="nav-link" href="/home#contact-me">Contact</a>
		      </li>
		    </ul>
		  </div>
		 </div>
	</nav>

<section id="about-me-header">
	<div class="container">
			<div class="row justify-content-sm-center pb-3">
				<div id="about-me-tag" class="col-sm-3 col-lg-2">
					<h1 class="mt-sm-4 pt-sm-5">About Me</h1>
					<hr id="about-me-hr" class="hrs my-0">
					<p id="about-name-small" class="pb-4">elyza paulite</p>
				</div>
			</div>
	</div>
</section>
		
<section id="about-me">	
	<div class="container mb-5 mt-5">
			<div class="row justify-content-sm-center">
				<div id="img-na-chicks-daw" class="col-lg-6 col-sm-10 order-sm-1">
					<img src="img/chicks-mo-to.png" class="img-fluid">
				</div>
				<div class="col-sm-12 order-sm-2 pt-5 mt-5">
					<h3>Hi!</h3>
					<h4 class="mb-4"> Im <span id="about-name">Elyza May Sarmiento Paulite</span></h4>
					<p id="about-page-text">I studied Bachelor of Science in Information Systems at Technological Intitute of the Philippines-Quezon City with its orientation towards outcome-based education. I have acquired and can demonstrate the following student acquire outcomes (knowledge, skills and attitudes) necessary to the practice of the computing profession such as
					<br>
					<i class="far fa-dot-circle mx-2"></i>Analyze complex problems in operational management and identify and define the business requirements for solution using business process tools.
					<br>
					<i class="far fa-dot-circle mx-2"></i>Knowledgeable in specific methodology in Business Proces, Project Management Planning, Data Mining and SAP.
					<br>
					<i class="far fa-dot-circle mx-2"></i>Skills in Photo Editing/Enhancing, Web Design, Logo Branding, Brochure Design, Banner Design using Adobe Creative Tools such as Adobe Photoshop, and basic in Adobe Illustrator, and Adobe Premiere.
					<br>
					<i class="far fa-dot-circle mx-2"></i>Experienced in Video Editing using Filmora, Video Maker, Videopad, and Adobe Premiere.
					<br>
					<i class="far fa-dot-circle mx-2"></i>Knowledgeable in SEO Standards, Principles of design, and Typography. Understand professional, ethical, legal, security and social issues and responsibilities relevant to professional computing.</p>
				</div>
			</div>
		</div>
	</section>

	<section id="footer" class="pt-5 pb-5">
		<div class="container pt-5">
			<div class="row justify-content-center pt-3">
				<div class="col-sm-4 d-flex justify-content-center">
					<img src="img/footer-logo.png" class="img-fluid">
				</div>
			</div>
			<div id="footer-menu" class="row justify-content-center pt-3 pb-5">
				<div class="col-sm-2">
					<a href="/home">Home</a>
				</div>
				<div class="col-sm-2">
					<a href="/about" class="active">>About</a>
				</div>
				<div class="col-sm-2">
					<a href="/portfolio-webdesign">Portfolio</a>
				</div>
				<div class="col-sm-2">
					<a href="/home#contact-me">Contact</a>
				</div>
			</div>
		</div>
	</section>

<% include partials/footer %>
