<!DOCTYPE html>
<html>
<head>
	<title>Elyza Paulite</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/index-style.css">
	<link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
	<script>
		setTimeout(function(){window.location.href='/home'},4000);
	</script>
</head>
<body>
	<section id="landing">
		<div class="container">
			<div class="row justify-content-center">
				<div class="align-self-center">
				<img src="img/logo.png"></div>
				</div>
			</div>
	</section>

	<script type="text/javascript" src="js/bootstrap.js"></script>
	
</body>
</html>